#new-word-field{
    -fx-text-fill: rgb(180, 43, 43);
}

/* ===============LEFT SIDE BAR================= */
.left-side-bar{
    -fx-spacing: 10px;
    -fx-background-color: rgb(22, 50, 92);
}

.function-button{   
    -fx-arc-height: 3px;
    -fx-arc-width: 3px;
    -fx-background-color: rgba(84, 101, 187, 0.151);
    -fx-background-radius: 3px;
    transition: -fx-background-color 5s ease-in;
    -fx-cursor: hand;
}
.function-button:hover{   
    -fx-arc-height: 1px;
    -fx-arc-width: 1px;
    -fx-background-color: rgb(37, 95, 171);
    -fx-background-radius: 3px;
    transition: -fx-background-color 0.5s ease;
}

.tool-right-side-bar{
    -fx-spacing: 5px;
}
.tool-button{
    -fx-cursor: hand;
}

.separator {
    -fx-background-color: rgb(22, 50, 92);
    -fx-opacity: 0.2;
}
.scroll-pane {
    -fx-padding: 0.75;
    -fx-background-insets: 0;
    -fx-background: none;
}

#search-button{
    -fx-background-color: rgb(111, 129, 168);
}   
#search-button:hover{
    -fx-background-color: rgb(111, 129, 168);
}   

/* Other */
.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}

.combo-box-base .text{
    -fx-fill: rgb(111, 129, 168) ;
    -fx-font-style: italic;
}