

.tool-right-side-bar{
    -fx-spacing: 5px;
}
.tool-button{
    -fx-cursor: hand;
}

.separator {
    -fx-background-color: rgb(22, 50, 92);
    -fx-opacity: 0.2;
}
.scroll-pane {
    -fx-padding: 0.75;
    -fx-background-insets: 0;
    -fx-background: none;
}
#apply-button{
    -fx-background-color: #16325c;
}
#apply-button:hover{
    -fx-background-color: #285cab;
}
#cancel-button{
    -fx-border-color: #16325c;
    -fx-background-color: transparent;
    -fx-border-radius: 5;
}
#cancel-button:hover{
    -fx-border-color: #16325c;
    -fx-background-color: #b7bec8;
    -fx-border-radius: 5;
}
.list-view .list-cell, .combo-box .list-cell{
    -fx-font-size: 15;
}
.list-view .list-cell:selected {
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-font-size: 18;
    -fx-background-color: #16325c;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #16325c;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 0.5em;
}
