.button {
    -fx-background-color: #16325c;
    -fx-font-size: 22px;
    -fx-text-fill: #f2f7ff;
    -fx-font-weight: bold;
    -fx-border-color: #385784;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.button:hover {
    -fx-background-color: #1b4077;
    -fx-scale-x: 1.07;
    -fx-scale-y: 1.07;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: none;
}

.text-area .content {
    -fx-background-color: none;
}

.text-area:focused .content {
    -fx-background-color: none;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}