

.tool-right-side-bar{
    -fx-spacing: 5px;
}
.tool-button{
    -fx-cursor: hand;
}

.separator {
    -fx-background-color: rgb(22, 50, 92);
    -fx-opacity: 0.2;
}
.scroll-pane {
    -fx-padding: 0.75;
    -fx-background-insets: 0;
    -fx-background: none;
}
#apply-button{
    -fx-background-color: #16325c;
}
#apply-button:hover{
    -fx-background-color: #285cab;
}
#cancel-button{
    -fx-border-color: #16325c;
    -fx-background-color: transparent;
    -fx-border-radius: 5;
}
#cancel-button:hover{
    -fx-border-color: #16325c;
    -fx-background-color: #b7bec8;
    -fx-border-radius: 5;
}